.vscode/
venv-pisite/
*__pycache__*
*htmlcov*
*.coverage*
*.code-workspace
C-pisite/
go-pisite/
experimentzone/testkeys/
*.pipe
*.pyc
*flask_session/
testmc/
py-pisite/instance/
*dynmap/
oldauth/
rust-pisite/
*/node_modules/