{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Controls{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>{{ customtext }}</p>
    <form method="post">
        <label for="input_text">args: <input name="input_text"></label>
        <br>
        {% for script_name in scripts %}
            <div class="script">
                <input type="radio" name="command" id="{{script_name}}" value="{{ script_name }}">
                <label for="{{script_name}}">{{ script_name }}</label>
            </div>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %} 